ModelLauncher/Rnd.Tekla.Helper/obj/
ModelLauncher/ModelLauncher.Test/bin/
ModelLauncher/ModelLauncher.Test/obj/
ModelLauncher/ModelLauncher/bin/Debug/Bypass.ini
ModelLauncher/ModelLauncher/bin/
ModelLauncher/ModelLauncher/obj/

ModelLauncher/Rnd.Common/obj/
ModelLauncher/Rnd.Tekla.Helper/bin/
ModelLauncher/Rnd.Common/bin/
